### **ass-1**

In [ ]:
# initializing dictionary  
old_dict =  {21: "FTP", 22:"SSH", 23: "telnet", 80: "http"}
  
# Printing original dictionary  
print ("Original dictionary is : ") 
print(old_dict)  
  
print() 
new_dict = {} 
for key, value in old_dict.items(): 
   if value in new_dict: 
       new_dict[value].append(key) 
   else: 
       new_dict[value]=[key] 
  
# Printing new dictionary after swapping 
# keys and values 
print ("Dictionary after swapping is :  ")  
print("keys: values") 
for i in new_dict: 
    print(i, " :", new_dict[i])

Original dictionary is :
{21: 'FTP', 22: 'SSH', 23: 'telnet', 80: 'http'}

Dictionary after swapping is :
keys: values
FTP  : [21]
SSH  : [22]
telnet  : [23]
http  : [80]

### **ass-2**

In [ ]:
test_list = [(1,2), (3,4), (5,6),(4,5)] 
  
# printing original tuples list 
print("The original list : " + str(test_list)) 
  
# Summation of tuples in list 
# using sum() + map() 
res = sum(map(sum, test_list)) 
  
# printing result 
print("The summation of all tuple elements are : " + str(res))

The original list : [(1, 2), (3, 4), (5, 6), (4, 5)]
The summation of all tuple elements are : 30

In [ ]:
# initializing list  
test_list = [(1,2), (3,4), (5,6),(4,5)]
  
# printing original list  
print ("The original list is : " + str(test_list)) 
  
# position Summation in List of Tuples 
# using list comprehension 
res = sum(i[0] for i in test_list), sum(i[1] for i in test_list) 
  
# printing summation 
print ("The position summation of tuples  : " + str(res))

The original list is : [(1, 2), (3, 4), (5, 6), (4, 5)]
The position summation of tuples  : (13, 17)